//----------------------
// Configuration
//----------------------

configuration {
    show-icons:         true;
    cycle:              true;
    hide-scrollbar:     true;
    disable-history:    false;
    modi:               "drun,calc,ssh,run";
    display-drun:       "apps";
    show-match: 		    false;
}
