[submodule "themes/.themes/Nordic-Polar"]
	path = themes/.themes/Nordic-Polar
	url = https://github.com/EliverLara/Nordic-Polar
[submodule "themes/.icons/boston"]
	path = themes/.icons/boston
	url = https://github.com/tonylambiris/boston-icons
