[submodule "themes/.themes/Nordic-Polar"]
	path = themes/.themes/Nordic-Polar
	url = https://github.com/EliverLara/Nordic-Polar
[submodule "themes/.themes/Nordic"]
	path = themes/.themes/Nordic
	url = https://github.com/EliverLara/Nordic
[submodule "themes/.themes/Juno"]
	path = themes/.themes/Juno
	url = https://github.com/EliverLara/Juno
[submodule "settings/.zsh_custom/plugins/zsh-autosuggestions"]
	path = settings/.zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "themes/.themes/kripton"]
	path = themes/.themes/kripton
	url = https://github.com/EliverLara/Kripton
[submodule "settings/.zsh_custom/plugins/zsh-history-substring-search"]
	path = settings/.zsh_custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "settings/.zsh_custom/plugins/zsh-syntax-highlighting"]
	path = settings/.zsh_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
