[submodule "themes/.themes/Nordic-Polar"]
	path = themes/.themes/Nordic-Polar
	url = https://github.com/EliverLara/Nordic-Polar
[submodule "themes/.themes/Nordic"]
	path = themes/.themes/Nordic
	url = https://github.com/EliverLara/Nordic
[submodule "themes/.themes/Juno"]
	path = themes/.themes/Juno
	url = https://github.com/EliverLara/Juno
[submodule "settings/.zsh_custom/plugins/zsh-autosuggestions"]
	path = settings/.zsh_custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "settings/.zsh_custom/themes/powerlevel10k"]
	path = settings/.zsh_custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "themes/.themes/kripton"]
	path = themes/.themes/kripton
	url = https://github.com/EliverLara/Kripton
