# Editors
.vscode
*kak*

themes/.icons/default

# Exclude Typora themes
settings/.config/Typora/*
!settings/.config/Typora/themes/*

# Exclude Mattermost except config
settings/.config/Mattermost/*
!settings/.config/Mattermost/config.json

# Exclude zettlr
settings/.config/zettlr/*
!settings/.config/zettlr/custom.css
!settings/.config/zettlr/config.json

# Exclude bashtop
settings/.config/bashtop/error.log

# Exclude shada
settings/.local/share/nvim/shada/*
