# clear window
alias c='clear'

# trick to pass aliases with sudo/doas
# https://wiki.archlinux.org/index.php/Sudo#Passing_aliases
alias sudo='sudo '
alias doas='doas '

# reload / source .zshrc
alias reload='source ~/.zshrc'

# Editors
alias v='nvim'
alias vi='nvim'
alias vim='nvim'
alias code='code-insiders'

# color=auto added to some
alias ls='ls -FG --color=auto'    # add file type tips to ls command by default
alias ll='ls -lrth --color=auto' # reverse time long list file with human readable sizes
alias la='ll -A --color=auto'    # as per ll but show dotfiles, excluding '.' and '..'
alias grep='grep --color=auto'

# Changing "ls" to "exa"
alias ls='exa -al --color=always --group-directories-first' # my preferred listing
alias la='exa -a --color=always --group-directories-first'  # all files and dirs
alias ll='exa -l --color=always --group-directories-first'  # long format
alias lt='exa -aT --color=always --group-directories-first' # tree listing

alias cat='bat' 

# make rm -rf shorter
alias rmf='rm -rf'

# filesystem usage, default human readable sizes
alias df='df -h'
alias du='du -h'

# git, see ~/.gitconfig for git aliases
alias g='git'
alias gs='git status'

alias ..='cd ..'
