[includeIf "gitdir:~/Work/"]
  path = .gitconfig-work
[includeIf "gitdir:~/Projects/"]
  path = .gitconfig-personal
[includeIf "gitdir=~/dotties"]
  path = .gitconfig-personal
[init]
	defaultBranch = main
