! __  __
! \ \/ /_ _ ___ ___ ___ _  _ _ _ __ ___ ___
!  >  <| '_/ -_|_-</ _ \ || | '_/ _/ -_|_-<
! /_/\_\_| \___/__/\___/\_,_|_| \__\___/__/
!
! Author: Kelly Crabbé

Xft.dpi: 144
!Xcursor.size:   32
!Xcursor.theme:  Adwaita

! xdpyinfo | grep -B2 resolution
! 3840*2160 = 163*163 DPI

Xft.autohint:   0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting:    1
Xft.antialias:  1
Xft.rgba:       rgb

! Color Scheme
#include ".config/colors/xresources/gruvbox-dark.xresources"

