!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
!  __  __                                              !
!  \ \/ /_ __ ___  ___  ___  _   _ _ __ ___ ___  ___   !
!   \  /| '__/ _ \/ __|/ _ \| | | | '__/ __/ _ \/ __|  !
!   /  \| | |  __/\__ \ (_) | |_| | | | (_|  __/\__ \  !
!  /_/\_\_|  \___||___/\___/ \__,_|_|  \___\___||___/  !
!                                                      !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

!Color Scheme
#include "/home/marcos/.dotfiles/Xresources/nord.dark"


! URXVT Config
URxvt.geometry:    72x18
URxvt.font:        xft:Hack Nerd Font:regular:size=12:antialias=true, xft:FontAwesome:regular:size=12:antialias=true
URxvt.boldFont:    xft:Hack Nerd Font:bold:size=12:antialias=true
URxvt.letterSpace: -1
URxvt.scrollBar:   false
URxvt.depth:       32
