* {
  accent:           rgba(131, 165, 152, 0.9);
  background:       rgba(40, 40, 40, 0.9);
  background-light: rgba(40, 40, 40, 0.9);
  background-focus: rgba(29, 32, 33, 1);
  foreground:       rgba(235, 219, 178, 1);
  foreground-list:  rgba(235, 219, 178, 1);
  on:               rgba(131, 165, 152, 1);
  off:              rgba(251, 73, 52, 1);
}
