#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=QNAP Qfinder
Exec=chromium --profile-directory=Default --app-id=edgabokphekomdademgbajjkgmiplbgl
Icon=chrome-edgabokphekomdademgbajjkgmiplbgl-Default
StartupWMClass=crx_edgabokphekomdademgbajjkgmiplbgl
