#!/bin/true
[Desktop Entry]
Type=Application
Categories=Application;Citrix-subscribed
X-Citrix-Store=XenApp
Name=Onenet Desktop
StartupWMClass=Onenet Desktop
Icon=/home/kelly/.ICAClient/cache/Icons/XenApp.Onenet Desktop $S2-5.png
Description=Citrix subscribed application from XenApp
Exec=/opt/Citrix/ICAClient/util/storebrowse -L "XenApp.Onenet Desktop \\$S2-5" -f %k https://sf.lineas.net/citrix/xenapp/discovery
