[Desktop Entry]
Name=WebeX
GenericName=CiscoWebex
Exec=/usr/bin/firefox http://msamlin.webex.com
Icon=$HOME/.icons/Cisco_Webex.png
Type=Application
Categories=Application;Network;
StartupWMClass=Webex
StartupNotify=true
