[Desktop Entry]
Name=WebeX
GenericName=CiscoWebex
Exec=xdg-open http://msamlin.webex.com
Icon=/home/$USER/.icons/webex.png
Type=Application
Categories=Application;Network;
StartupWMClass=Webex
StartupNotify=true
Terminal=false
