[Desktop Entry]
Name=WebeX
GenericName=CiscoWebex
Exec=/usr/bin/firefox  --new-tab http://msamlin.webex.com
Icon=/home/kelly/.icons/Cisco_Webex.png
Type=Application
Categories=Application;Network;
StartupWMClass=Webex
StartupNotify=true
Terminal=false
