@import "colorschemes/nord.rasi"

#window {
  width: 100%;
  height: 100%;
  padding: 20%;
  location: center;
  children: [ horibox ];
}
#horibox {
  children: [ listview ];
}
#listview {
  layout: horizontal;
  spacing: 10px;
  lines: 5;
}
#element {
  padding: 56px   70px    56px    -23px;
  background-color: @background-light;
}
#element.selected {
  background-color: @accent;
  text-color: @background;
}
